<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160799297490-c4532mhblru358pu08i696gfbjfl76tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160799297490-c4532mhblru358pu08i696gfbjfl76tr</string>
	<key>API_KEY</key>
	<string>AIzaSyAzx4F9Ss5lMuY0Ls9pLgPr0rRO2BGerRc</string>
	<key>GCM_SENDER_ID</key>
	<string>160799297490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>movie-app-af2c5</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-af2c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160799297490:ios:b0374726103598aa52820b</string>
</dict>
</plist>